body {
    background-color: #E4F9F5;
    font-size: 20px;
}
img{
    height: 150px;
    width: 150px;
}

hr {
    width: 6%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: gray;
}
h1{
    color: #E84545;
}
h3{
    color: #892CDC;
}
.heading{
    color: red;
}